{% extends 'base.html' %}

{% block title %}
Статьи
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Все статьи на сайте</h1>

        {% if articles|length == 0 %}
            <h2>К сожалению на сайте пока отсутствуют статьи. Нажмите кнопку "Создать" в навигационном меню, чтобы добавить свою первую статью!</h2>
        {% else %}
            {% for elem in articles %}
            <div class="alert alert-info">
                <h2>
                    {{ elem.title }}
                </h2>
                <p>
                    {{ elem.intro }}
                </p>
                <p>
                    <b>Дата: {{ elem.date.date() }}</b>
                </p>
                <a href="/posts/{{ elem.id }}" class="btn btn-warning">Подробнее</a>
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}